// colors

$twitter: #00aced;
$facebook: #3b5998;
$youtube: #bb0000;
$vine:  #00bf8f;
$instagram: #517fa4;
$vimeo: #aad450;
$linkedin: #007bb6;
$github: #811c81;
$reddit: #ff4500;




// fonts:
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,400italic,300,100|Pacifico);
@mixin pacifico {
	font-family: 'Pacifico', cursive;
}
@mixin lato {
	font-family: 'Lato', sans-serif;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin animate ($time){
	-webkit-transition: #{$time}s ease-in-out;
	-moz-transition: #{$time}s ease-in-out;
	-o-transition: #{$time}s ease-in-out;
	transition: #{$time}s ease-in-out;
}

// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// translate rotate
@mixin translateRotate ($x, $y, $deg) {
   @include transform(translate($x, $y) rotate(#{$deg}deg));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}



@mixin bShadow {
	-moz-box-shadow:0px 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.4);
	box-shadow:0px 2px 5px rgba(0,0,0,0.4);
}
@mixin tShadow {
	-moz-text-shadow:0px 2px 2px rgba(0,0,0,0.4);
	-webkit-text-shadow:0px 2px 2px rgba(0,0,0,0.4);
	text-shadow:0px 2px 5px rgba(0,0,0,0.4);
}

@mixin bg{
	height: 100%;
	width: 100%;
	position: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
// @mixin roatition($xOrigin, $yOrigin){
//     animation-name: rotator;
//     animation-duration: $speed / 1 ;
//     animation-iteration-count: infinite;
//     transform-origin: $xOrigin $yOrigin;
//     display: inline-block;
//     animation-delay: $speed / 1.4;
//     animation-timing-function: linear;
// }
